body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #CACACA;
}



.bonner-column{
    background-color: #8d8d8d;
}

.navbar-container{
    top: 0;
    background-color: black;
    /* position: sticky;
    z-index: 2; */
}

.about-container{
    background-color: rgb(77, 188, 77);
}

.education-container{
    background-color: beige;
}

.edu-color{
    color: rgb(241, 32, 101);
}

.edu-circle{
    background-color:rgb(241, 32, 101);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    color: rgb(30, 24, 200);

}

.project-container{
    background-color: rgb(226, 157, 29);
}

.footer{
    background-color: rgb(127, 208, 21);
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
}

.circle:hover{
    background-color: rgb(112, 18, 212);
}